<div class="container">
  <div class="row mt-5">
    <div class="col-3">
      <a href="/reportes/todos" class="btn btn-secondary col-12 active" style="height: 150px"  role="button" aria-pressed="true"><h3>Reporte de todos</h3></a>
    </div>
    <div class="col-3">
      <a href="/reportes/BcoPichincha" class="btn btn-secondary col-12 active" style="height: 150px" role="button" aria-pressed="true"><h3>Reportes Bco. Pichincha</h3></a>
    </div>
    <div class="col-3">
      <a href="/reportes/Full-carga" class="btn btn-secondary col-12 active" style="height: 150px" role="button" aria-pressed="true"><h3>Reportes Full Carga</h3></a>
    </div>
    <div class="col-3">
      <a href="" class="btn btn-secondary col-12 active" style="height: 150px" role="button" aria-pressed="true"><h3>Reportes Bco. Guayaquil</h3></a>
    </div>
  </div>
</div>