<!--Main-->

<div class="container">
  <div class="row mt-5">
    <div class="col-3">
      <a href="/pichincha" class="btn btn-secondary col-12 active" style="height: 150px"  role="button" aria-pressed="true"><h1>Banco Pichincha</h1></a>
    </div>
    <div class="col-3">
      <a href="/fullcarga" class="btn btn-secondary col-12 active" style="height: 150px" role="button" aria-pressed="true"><h1>Full Carga</h1></a>
    </div>
    <div class="col-3">
      <a href="" class="btn btn-secondary col-12 active" style="height: 150px" role="button" aria-pressed="true"><h1>Banco Guayaquil</h1></a>
    </div>
    <div class="col-3">
      <a href="" class="btn btn-secondary col-12 active" style="height: 150px" role="button" aria-pressed="true"><h1>Papeleria y Bazar</h1></a>
    </div>
  </div>
</div>

<!--/Main-->
