<div class="container">
  <div class="row mt-5">
    <div class="col-3">
      <a href="/pichincha/transacciones_bancarias" class="btn btn-secondary col-12 active" style="height: 150px"  role="button" aria-pressed="true"><h1>Transac. Banacarias</h1></a>
    </div>
    <div class="col-3">
      <a href="/pichincha/pagosycobros" class="btn btn-secondary col-12 active" style="height: 150px"  role="button" aria-pressed="true"><h1>Pagos y cobros</h1></a>
    </div>
  </div>
</div>

